{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>نمایش ویدیو</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

<body>

    <div class="jumbotron text-center">
        <h1>My First Bootstrap Page</h1>
        <p>Resize this responsive page to see the effect!</p> 
    </div>
    
    <div class="container text-right">

        <ul class="nav nav-tabs">
            {%for category in category_list%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">{{category.0.category_name}}</a>
                    <div class="dropdown-menu">
                        {% for sub_category in category%}
                            <a class="dropdown-item" data-toggle="collapse" href="#{{sub_category.sub_category_name}}">{{sub_category.sub_category_name}}</a>
                        {%endfor%}
                    </div>
                </li>
            {%endfor%}
        </ul>

        <div class="tab-content">
            {%for video_in_same_category in videos_list%}
                <div id="{{video_in_same_category.0.sub_category_id.sub_category_name}}" class="collapse">
                    <h3> {{video_in_same_category.0.sub_category_id.sub_category_name}} </h3>
                    <div class="row">
                    {%for video in video_in_same_category%}
                        <div class="col-sm-3">
                            <div class="p-3 my-3 row">
                                <img src={{video.cover.url}} class="rounded mx-auto d-block" width="150" height="100" alt="IMG">
                                <a href="play-video/{{video.id}}">{{video.title}}</a>
                                <p class="small"> {{video.tag}} </p>
                            </div>
                        </div>
                    {%endfor%}
                    </div> 
                </div>
            {%endfor%}
        </div>
    </div>

    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
</body>
</html>